<mat-card class="task-card" *ngFor="let task of tasks">
  <mat-card-header>
    <mat-card-title>{{task.name}}</mat-card-title>
    <mat-card-subtitle>{{task.subject}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider [vertical]="true"></mat-divider>
  <mat-card-content>
      <p>{{task.grade}} класс</p>
    <mat-icon>grade</mat-icon><p>{{task.level}} </p>
    <mat-icon>schedule</mat-icon><p>{{task.timeConsumption}} мин</p>
  </mat-card-content>
  <button mat-raised-button color="primary">Подробнее</button>
</mat-card>
