<a routerLink="">Назад</a>
<div class="" overflow="hidden">
    <div class=""><span class=""><span id="mainData">Основные данные</span></span> </div>
    <div class="">
        <div class="">
            <div class=""><label for="b467b430-1052-11eb-819a-7fa426b8f7c7-0">Название задания</label>
                <div class="">
                    <div>
                        <div tabindex="0"></div>
                    </div>
                </div>
            </div>
            <div class="sc-fzpkJw bxxEfB"><input (focusout)="onFocusOut($event)" (keyup)="onKey($event)" id="task-name" type="text"
                    placeholder="Например, &quot;Восстанови текст о мореплавателе&quot;" value="{{inputText}}"></div>
        </div>
        <div class="">
            <div class=""><label for="b467b431-1052-11eb-819a-7fa426b8f7c7-0">Теги</label>
                <div class="">
                    <div>
                        <div tabindex="0"></div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="">
                    <div class="">
                        <div class="">Введите тег...</div>
                        <div class="">
                            <div class="" style="display: inline-block;"><input autocapitalize="none" autocomplete="off"
                                    autocorrect="off" id="react-select-3-input" spellcheck="false" tabindex="0"
                                    type="text" aria-autocomplete="list" value=""
                                    style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <div class=""><label for="b467db40-1052-11eb-819a-7fa426b8f7c7-0">Уровень видимости</label>
                    <div class="">
                        <div>
                            <div tabindex="0"></div>
                        </div>
                    </div>
                </div><button class="" tabindex="0" type="button" data-qa="UIKIT.Button" appearance="secondary"><span
                        class=""><span class="">Персональный</span></span></button>
            </div>
        </div>
        <div class="">
            <div class=""><label for="b4680250-1052-11eb-819a-7fa426b8f7c7-0">Тип задания*</label>
                <div class="">
                    <div>
                        <div tabindex="0"></div>
                    </div>
                </div>
            </div>
            <div class="styled__RadioGroupStyled-jSbzAc kqTcpE">
                <fieldset class="">
                    <div class="" role="radiogroup" aria-label="gender"><label class=""><span class=""
                                aria-disabled="false"><span class=""><input class="jss15" name="gender2" type="radio"
                                        value="MOTIVATION">
                                    <div class="jss16"></div>
                                </span><span class=""></span></span><span class="">Мотивирующее</span></label><label
                            class=""><span class="" aria-disabled="false"><span class=""><input class="jss15"
                                        name="gender2" type="radio" value="TRAINING" checked="">
                                    <div class="jss16 jss18"></div>
                                </span><span class=""></span></span><span class="">Учебное</span></label><label
                            class=""><span class="" aria-disabled="false"><span class=""><input class="jss15"
                                        name="gender2" type="radio" value="CHECK">
                                    <div class="jss16"></div>
                                </span><span class=""></span></span><span class="">Проверочное</span></label> </div>
                </fieldset>
            </div>
        </div>
        <div class="">
            <div class="">
                <div class=""><label for="b4682960-1052-11eb-819a-7fa426b8f7c7-0">Тип проверки</label>
                    <div class="">
                        <div>
                            <div tabindex="0"></div>
                        </div>
                    </div>
                </div><button class="" tabindex="0" type="button" data-qa="UIKIT.Button" appearance="secondary"
                    width="300"><span class=""><span class="">Проверка учителем</span></span></button>
            </div>
            <div class="">
                <div class=""><label for="b4685070-1052-11eb-819a-7fa426b8f7c7-0">Количество попыток</label>
                    <div class="">
                        <div>
                            <div tabindex="0"></div>
                        </div>
                    </div>
                </div>
                <div id="b4685070-1052-11eb-819a-7fa426b8f7c7-0" class="">
                    <div class="sc-fzpkJw gNTZKL" disabled=""><input type="text" placeholder="" disabled="" value="3">
                    </div>
                    <div class="">
                        <div class="" disabled=""><input type="checkbox" disabled="" name=""
                                id="unlimitedAttempts"><label>Не ограничено</label></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class=""><label for="b4685071-1052-11eb-819a-7fa426b8f7c7-0">Форма работы*</label></div><button
                class="" tabindex="0" type="button" data-qa="UIKIT.Button" appearance="secondary" width="300"><span
                    class=""><span class="">Индивидуально</span></span></button>
        </div>
        <div class="">
            <div class=""><label for="b4687780-1052-11eb-819a-7fa426b8f7c7-0">Способ выполнения</label>
                <div class="">
                    <div>
                        <div tabindex="0"></div>
                    </div>
                </div>
            </div><button class="" tabindex="0" type="button" data-qa="UIKIT.Button" appearance="secondary"
                width="300"><span class=""><span class="">Не указано</span></span></button>
        </div>
        <div class="">
            <div class=""><label for="b4689e90-1052-11eb-819a-7fa426b8f7c7-0">Трудоемкость</label>
                <div class="">
                    <div>
                        <div tabindex="0"></div>
                    </div>
                </div>
            </div>
            <div id="b4689e90-1052-11eb-819a-7fa426b8f7c7-0" class="">
                <div class="sc-fzpkJw bxxEfB"><input id="laboriousness" type="text" placeholder="" value="0"></div>
                <span>минут</span>
            </div>
        </div>
        <div class="">
            <div class=""><label for="b4689e91-1052-11eb-819a-7fa426b8f7c7-0">Развиваемые мягкие навыки</label>
                <div class="">
                    <div>
                        <div tabindex="0"></div>
                    </div>
                </div>
            </div>
            <div id="b4689e91-1052-11eb-819a-7fa426b8f7c7-0" class="">
                <div class="">
                    <div class="">
                        <div class=""><input type="checkbox" name="" id="6-Принятие решений"><label>Принятие
                                решений</label> </div>
                    </div>
                    <div class="">
                        <div class=""><input type="checkbox" name="" id="5-Работа в команде"><label>Работа в
                                команде</label> </div>
                    </div>
                    <div class="">
                        <div class=""><input type="checkbox" name="" id="3-Управление собой"><label>Управление
                                собой</label> </div>
                    </div>
                    <div class="">
                        <div class=""><input type="checkbox" name="" id="7-Креативное мышление"><label>Креативное
                                мышление</label></div>
                    </div>
                    <div class="">
                        <div class=""><input type="checkbox" name="" id="101-Критическое мышление"><label>Критическое
                                мышление</label></div>
                    </div>
                    <div class="">
                        <div class=""><input type="checkbox" name="" id="8-Эмоциональный интеллект"><label>Эмоциональный
                                интеллект</label></div>
                    </div>
                    <div class="">
                        <div class=""><input type="checkbox" name="" id="2-Системное мышление"><label>Системное
                                мышление</label></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class=""><label for="b4689e92-1052-11eb-819a-7fa426b8f7c7-0">ФИО автора</label>
                <div class="">
                    <div>
                        <div tabindex="0"></div>
                    </div>
                </div>
            </div>
            <div class="sc-fzpkJw bxxEfB"><input id="b4689e92-1052-11eb-819a-7fa426b8f7c7-0" type="text"
                    placeholder="Например, Иванов Иван Иванович" value="Цифровой Прорыв"></div>
        </div>
        <div class="">
            <div class=""><label for="b468c5a0-1052-11eb-819a-7fa426b8f7c7-0">Лицензия</label>
                <div class="">
                    <div>
                        <div tabindex="0"></div>
                    </div>
                </div>
            </div><button class="" tabindex="0" type="button" data-qa="UIKIT.Button" appearance="secondary"
                width="300"><span class=""><span class="">CC0</span></span></button>
        </div>
        <div class="">
            <div class=""><label for="b468c5a1-1052-11eb-819a-7fa426b8f7c7-0">Внешние источники информации</label>
                <div class="">
                    <div>
                        <div tabindex="0"></div>
                    </div>
                </div>
            </div>
            <div height="auto" class=""><textarea id="b468c5a1-1052-11eb-819a-7fa426b8f7c7-0"
                    placeholder="Вставьте ссылки" style="height: 38px;"></textarea></div>
        </div>
    </div>
</div>
