<a routerLink="">Назад</a>
<div style="padding: 1%;">
    <form>
        <div>
            <mat-form-field>
                <mat-label>Название задания</mat-label>
                <input matInput id="task_name" name="task_name" type="text"
                    placeholder="Напимер, Восстанови текст о морепродуктах"
                       (focusout)="onFocusOut($event)" (keyup)="onKey($event)">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Тэги</mat-label>
                <input matInput type="text" placeholder="Выберите один" [formControl]="myControl"
                    [matAutocomplete]="tags" >
                <mat-autocomplete #tags="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Уровень видимости</mat-label>
                <mat-select>
                    <mat-option value="personal">Персональный</mat-option>
                    <mat-option value="school">Школьный</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Количество попыток</mat-label>
                <input matInput id="task_attempts" name="task_attempts" type="number" value="3" min="0" max="10">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Форма работы</mat-label>
                <mat-select>
                    <mat-option value="indiv">Индивидуально</mat-option>
                    <mat-option value="smallg">В малых группах</mat-option>
                    <mat-option value="couple">В парах</mat-option>
                    <mat-option value="inschool">В классе</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Трудоёмкость</mat-label>
                <input matInput id="task_hours" name="task_hours" type="number" value="8" min="0" max="24">
            </mat-form-field>
        </div>

        <div>
            <style>
                .checkshow {
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                }
            </style>
            <mat-card>
                <mat-card-content>
                    <mat-label>Развитие мягких навыков</mat-label>
                    <section>
                        <p class="checkshow">
                            <mat-checkbox name="soft_skills" value="ch1">Принятие решений</mat-checkbox>
                        </p>
                        <p class="checkshow">
                            <mat-checkbox name="soft_skills" value="ch2">Работа в команде</mat-checkbox>
                        </p>
                        <p class="checkshow">
                            <mat-checkbox name="soft_skills" value="ch3">Управление собой</mat-checkbox>
                        </p>
                        <p class="checkshow">
                            <mat-checkbox name="soft_skills" value="ch4">Креативное мышление</mat-checkbox>
                        </p>
                        <p class="checkshow">
                            <mat-checkbox name="soft_skills" value="ch5">Критическое мышление</mat-checkbox>
                        </p>
                        <p class="checkshow">
                            <mat-checkbox name="soft_skills" value="ch6">Эмоциональный интеллект</mat-checkbox>
                        </p>
                        <p class="checkshow">
                            <mat-checkbox name="soft_skills" value="ch7">Системное мышление</mat-checkbox>
                        </p>
                    </section>
                </mat-card-content>
            </mat-card>
        </div>

        <div>
            <mat-form-field>
                <mat-label>ФИО автора задания</mat-label>
                <input matInput id="task_autor" name="task_autor" type="text" placeholder="Название с акка взять">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Лицензия</mat-label>
                <mat-select>
                    <mat-option value="CC0">CC0</mat-option>
                    <mat-option value="BY">BY</mat-option>
                    <mat-option value="BY-SA">BY-SA</mat-option>
                    <mat-option value="BY-NC">BY-NC</mat-option>
                    <mat-option value="BY-NC-SA">BY-NC-SA</mat-option>
                    <mat-option value="BY-ND">BY-ND</mat-option>
                    <mat-option value="BY-NC-ND">BY-NC-ND</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Внешние источники информации</mat-label>
                <input matInput id="task_outsource" name="task_outsource" type="text">
            </mat-form-field>
        </div>

        <mat-divider></mat-divider>
        <div class="notes">
            <div>
                <mat-form-field>
                    <mat-label>Заметки для проверяющего</mat-label>
                    <textarea matInput id="task_notes_checker" name="task_notes_checker" type="text"></textarea>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Заметки для учителя</mat-label>
                    <textarea matInput id="task_notes_teacher" name="task_notes_teacher" type="text"></textarea>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Заметки для ученика</mat-label>
                    <textarea matInput id="task_notes_student" name="task_notes_student" type="text"
                              (focusout)="onFocusOut($event)" (keyup)="onKey($event)"></textarea>
                </mat-form-field>
            </div>
        </div>

    </form>
</div>
