.error{
    color:red;
}
.taskElement{
    display: grid;
    grid-template-columns: 80% 20%;
}
.display-grid{
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap:30px;
}
.display-grid-gap15{
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap:15px;
}
.justify-center-items{
    justify-items: center;
}
mat-form-field{
    width: 100%!important;
}
.p-lr-100{
    padding: 10px 100px
}
h2, h1{
    text-align: center;
}
.buttonsPanel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
}