<form [formGroup]="addModuleForm">
    <div class="display-grid p-lr-100">
        <h1>Заполните общие данные о модуле</h1>
        <div class="display-grid" class="card-el-shadow display-grid-gap15">
            <mat-form-field matTooltip="глобальный - доступно всем участникам платформы.
            школьный - доступно всем ученикам и учителям школы автора.
            персональный - доступно только автору." matTooltipPosition="above">
                <mat-label>Уровень видимости
                </mat-label>
                <mat-select formControlName='visibilitylevel'>
                    <mat-option>--</mat-option>
                    <mat-option value="personal">
                        Персональный
                    </mat-option>
                    <mat-option value="school">
                        Школьный
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="addModuleForm.get('visibilitylevel').hasError('required')">
                    Поле <strong>обязательно</strong> для заполения
                </mat-error>
            </mat-form-field>
        </div>
        <div class="display-grid" class="card-el-shadow display-grid-gap15">
            <div matTooltip="Можно jpg или png, до 5 Мб. Разрешение не менее 1090×728 пикселей.
            персональный - доступно только автору." matTooltipPosition="above">
                <div>Загрузка обложки модуля</div>
                <input type="file" formControlName="moduleСoverImage" placeholder="Placholder">
                <div>Можно jpg или png, до 5 Мб. Разрешение не менее 1090×728 пикселей.</div>
                <div *ngIf="addModuleForm.get('moduleСoverImage').hasError('required')">
                    Поле <strong>обязательно</strong> для заполения
                </div>
            </div>
            <div>
                <mat-form-field
                    matTooltip="Название модуля должно отражать его тему. Длина названия не должна превышать 100 символов."
                    matTooltipPosition="above">
                    <mat-label>Наименование модуля*</mat-label>
                    <input matInput formControlName='moduleName' placeholder="Placholder">

                    <mat-error *ngIf="addModuleForm.get('moduleName').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
            <div matTooltip="Можно jpg или png, до 5 Мб. Разрешение не менее 100×100 пикселей."
                matTooltipPosition="above">

                <label>Маленькая картинка для списка</label>
                <input type="file" formControlName="smallPictureForTheList" placeholder="Placholder">
                <div *ngIf="addModuleForm.get('smallPictureForTheList').hasError('required')">
                    Поле <strong>обязательно</strong> для заполения
                </div>

            </div>
            <div>
                <mat-form-field class="example-chip-list" matTooltip="Длина тега не должна превышать 30 символов."
                    matTooltipPosition="above">
                    <mat-label>Теги</mat-label>
                    <mat-chip-list #chipList aria-label="tag selection">
                        <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(tag)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="New tag..." #tagInput formControlName='tags' [matAutocomplete]="auto"
                            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let tag of filteredtags | async" [value]="tag">
                            {{tag}}
                        </mat-option>
                    </mat-autocomplete>

                    <mat-error *ngIf="addModuleForm.get('tags').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="display-grid card-el-shadow display-grid-gap15">

            <div>
                <mat-form-field matTooltip="Выберите предмет, по которому создается модуль" matTooltipPosition="above">
                    <mat-label>Предмет*
                    </mat-label>
                    <mat-select formControlName='subject'>
                        <mat-option>--</mat-option>
                        <mat-option value="Coding">
                            Coding
                        </mat-option>
                        <mat-option value="Math">
                            Math
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addModuleForm.get('subject').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field matTooltip="Выберите класс, для которого предназначается модуль"
                    matTooltipPosition="above">
                    <mat-label>Класс*</mat-label>
                    <mat-select formControlName='class'>
                        <mat-option>--</mat-option>
                        <mat-option value="1p">
                            1-я параллель
                        </mat-option>
                        <mat-option value="2p">
                            2-я параллель
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addModuleForm.get('class').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>

            </div>
            <div>

                <mat-checkbox matTooltip="Дополнительный модуль не входит в обязательную часть учебного плана.
                Такой модуль ученик добавляет в план по своему выбору" matTooltipPosition="above"
                    formControlName="additionalModule">
                    Дополнительный модуль</mat-checkbox>
                <div *ngIf="addModuleForm.get('additionalModule').hasError('required')">
                    Поле <strong>обязательно</strong> для заполения
                </div>

            </div>
            <div>
                <mat-form-field
                    matTooltip="Время, отводимое ученику на выполнение модуля (не более 24 ак. часов). Большие темы рекомендуется разбивать на несколько модулей"
                    matTooltipPosition="above">
                    <mat-label>Трудоемкость*</mat-label>
                    <input formControlName='laborIntensity' type="number" matInput placeholder="Placholder">

                    <mat-error *ngIf="addModuleForm.get('laborIntensity').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field matTooltip="Главная мысль, в понимание которой вносит вклад этот модуль"
                    matTooltipPosition="above">
                    <mat-label>Базовая идея*</mat-label>
                    <textarea formControlName='basicIdea' matInput placeholder="Placholder"></textarea>

                    <mat-error *ngIf="addModuleForm.get('basicIdea').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field matTooltip="Сложный вопрос, ответить на который будет возможно после прохождения модуля"
                    matTooltipPosition="above">
                    <mat-label>Проблемный вопрос*</mat-label>
                    <textarea formControlName='problematicQuestion' matInput placeholder="Placholder"></textarea>

                    <mat-error *ngIf="addModuleForm.get('problematicQuestion').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="display-grid card-el-shadow display-grid-gap15">
            <h2>Инструкция для учителя</h2>
            <div>
                <mat-form-field matTooltip="Опишите, как данный модуль позволит достичь заявленной учебной цели"
                    matTooltipPosition="above">
                    <mat-label>Общий замысел модуля</mat-label>
                    <textarea formControlName='generalConceptOfTheModule' matInput placeholder="Placholder"></textarea>

                    <mat-error *ngIf="addModuleForm.get('generalConceptOfTheModule').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Типовое распределение заданий по урокам</mat-label>
                    <textarea formControlName='typicalDistributionOfAssignmentsByLessons' matInput
                        placeholder="Placholder"></textarea>
                    <mat-error
                        *ngIf="addModuleForm.get('typicalDistributionOfAssignmentsByLessons').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Возможные трудности, ложные представления и способы их преодоления
                    </mat-label>
                    <textarea formControlName='possibleDifficultiesMisconceptionsAndWaysToOvercomeThem' matInput
                        placeholder="Placholder"></textarea>
                    <mat-error
                        *ngIf="addModuleForm.get('possibleDifficultiesMisconceptionsAndWaysToOvercomeThem').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <h1>
            Заполните данные об элементах цели
        </h1>

        <div class="display-grid card-el-shadow display-grid-gap15" formGroupName="elOfGoal2">
            <h2 matTooltip="Уровень простейшего понимания и действий по образцу, предполагает отдельные элементы, которые складываются в более сложное действие на уровне 3.0."
                matTooltipPosition="above">Уровень 2.0</h2>
            <div>
                <mat-form-field matTooltip="Сформулируйте один учебный результат для уровня 2.0.
                    Описание должно быть не длиннее 2000." matTooltipPosition="above">
                    <mat-label>Описание элемента цели*</mat-label>
                    <textarea formControlName='goalElementDescription' matInput placeholder="Placholder"></textarea>

                    <mat-error
                        *ngIf="addModuleForm.get('elOfGoal2').get('goalElementDescription').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field matTooltip="Если формулировка элемента цели 2.0, понятна ученику, то просто добавляем к ней «Я могу…» .
                Если формулировка элемента цели 2.0, сложна для понимания, то упрощаем формулировку без потери смысла.
                Описание должно быть не длиннее 2000." matTooltipPosition="above">
                    <mat-label>Пример достижения цели (Я могу…)*</mat-label>
                    <textarea formControlName='anExampleOfAchievingAGoal' matInput placeholder="Placholder"></textarea>
                    <mat-error
                        *ngIf="addModuleForm.get('elOfGoal2').get('anExampleOfAchievingAGoal').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="display-grid card-el-shadow display-grid-gap15" formGroupName="elOfGoal3">
            <h2 matTooltip="Целевое умение, на которое направлено содержание модуля, предполагает синтез нескольких более простых элементов, анализ и понимание, которое можно применить к разным примерам и обстоятельствам."
                matTooltipPosition="above">Уровень 3.0</h2>
            <div>
                <mat-form-field matTooltip="Сформулируйте один учебный результат для уровня 3.0.
                Возможно добавление ещё 2х.
                Описание должно быть не длиннее 2000." matTooltipPosition="above">
                    <mat-label>Описание элемента цели*</mat-label>
                    <textarea formControlName='goalElementDescription' matInput placeholder="Placholder"></textarea>

                    <mat-error
                        *ngIf="addModuleForm.get('elOfGoal3').get('goalElementDescription').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field matTooltip="Если формулировка элемента цели 3.0, понятна ученику, то просто добавляем к ней «Я могу…» .
                Если формулировка элемента цели 3.0, сложна для понимания, то дополнительно приводим пример.
                Описание должно быть не длиннее 2000." matTooltipPosition="above">
                    <mat-label>Пример достижения цели (Я могу…)*</mat-label>
                    <textarea formControlName='anExampleOfAchievingAGoal' matInput placeholder="Placholder"></textarea>
                    <mat-error
                        *ngIf="addModuleForm.get('elOfGoal3').get('anExampleOfAchievingAGoal').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="display-grid card-el-shadow display-grid-gap15" formGroupName="elOfGoal4">
            <h2 matTooltip="Предполагает исследование и проектирование, а также применение знаний и умений в практических ситуациях."
                matTooltipPosition="above">Уровень 4.0</h2>
            <div>
                <mat-form-field matTooltip="Сформулируйте один пример учебного результата для уровня 4.0.
                Описание должно быть не длиннее 2000." matTooltipPosition="above">
                    <mat-label>Описание элемента цели*</mat-label>
                    <textarea formControlName='goalElementDescription' matInput placeholder="Placholder"></textarea>

                    <mat-error
                        *ngIf="addModuleForm.get('elOfGoal4').get('goalElementDescription').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field matTooltip="Если формулировка элемента цели 4.0, понятна ученику, то просто добавляем к ней «Я могу…» .
                Если формулировка элемента цели 4.0, сложна для понимания, то дополнительно приводим пример.
                Описание должно быть не длиннее 2000." matTooltipPosition="above">
                    <mat-label>Пример достижения цели (Я могу…)*</mat-label>
                    <textarea formControlName='anExampleOfAchievingAGoal' matInput placeholder="Placholder"></textarea>
                    <mat-error
                        *ngIf="addModuleForm.get('elOfGoal4').get('anExampleOfAchievingAGoal').hasError('required')">
                        Поле <strong>обязательно</strong> для заполения
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="buttonsPanel">
            <button style="justify-self: start;" mat-flat-button color="primary" routerLink="/dashboard">
                Назад
            </button>

            <button *ngIf="this.addModuleForm.valid; else notValidForm" mat-flat-button style="justify-self: end;"
                color="primary" (click)="SaveModule()">
                Сохранить
            </button>
            <ng-template #notValidForm>
                <button matTooltip="Для сохранения необходимо заполнить все обязательные поля"
                    matTooltipPosition="above" style="justify-self: end;" mat-flat-button color="warn">
                    Сохранить
                </button>
            </ng-template>
        </div>
    </div>
</form>
